.status{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.card{
  font-family: 'Roboto', sans-serif;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
}
