<div class="full-screen-container">
  <button
    pButton
    type="button"
    label="NUOVO PAZIENTE"
    class="giant-button login-btn"
    [routerLink]="['/accetta-pz']"
    routerLinkActive="router-link-active"
  ></button>

  <p-divider layout="vertical" class="thick-divider" />

  <button
    pButton
    type="button"
    label="TRASFERIMENTO PAZIENTE"
    class="giant-button signup-btn p-button-success"
    [routerLink]="['/accetta-trasferta']"
    routerLinkActive="router-link-active"
  ></button>
</div>
