<div class="buttons">
  <p-select
    [options]="api.listaOs()"
    (onChange)="api.changeHospital($event)"
    optionValue="id"
    placeholder="Seleziona un ospedale"
    class="w-full md:w-56"
  >
  <ng-template let-hospital pTemplate="item">
    {{ hospital.nome }} - {{ hospital.citta }}
  </ng-template>
  <ng-template let-hospital pTemplate="selectedItem">
    {{ hospital.nome }} - {{ hospital.citta }}
  </ng-template>
  </p-select>

  <p-button
    label="OTTIENI I PAZIENTI"
    size="large"
    icon="pi pi-refresh"
    (click)="api.getListaPazienti()"
  />
  <p-button
    label="ACCETTA PAZIENTE"
    severity="info"
    icon="pi pi-plus-circle"
    routerLink="/accetta-pz"
  />
</div>

<div class="pz-list">
  @for (pz of api.listaPz(); track pz.id_paziente){
    <app-card [pz]="pz" />
  } @empty {
    <h3>NON CI SONO PAZIENTI</h3>
  }
</div>
