<div class="card">
  <p-card
    [style]="{
      width: '20rem',
      overflow: 'hidden',
      border: '2px solid #800080',
      backgroundColor: '#F5F5F5'
    }"
  >
    <ng-template #title>{{ pz().cognome }} {{ pz().nome }}</ng-template>
    <ng-template #subtitle
      >Data di nascita:
      {{ pz().data_nascita | date : "dd/MM/YYYY" }}</ng-template
    >
    <p>
      Codice Paziente: {{ pz().codice }}<br/>
      Codice fiscale: {{ pz().codice_fiscale }}<br/>
      Reparto: {{ pz().nome_reparto || "non assegnato"}}
    </p>
    <br />
    <div class="status">
      <p>CODICE {{ pz().codice_colore || 'NON FORNITO'}} </p>
      <p-divider layout="vertical" />
      <p>{{ pz().stato || 'NON FORNITO' }}</p>
    </div>
    <br />
    <ng-template #footer>
      <div class="buttons">
        <p-button
          label="TRASFERISCI"
          severity="secondary"
          class="w-full"
          styleClass="w-full"
          (click)="mostraPopUp()"
        />
        <p-button
          label="MODIFICA"
          severity="info"
          class="w-full"
          styleClass="w-full"
          (onClick)="navigaModifica()"
        />
        <app-transfer-overlay [pz]="pz()" [(visibile)]="visibile"/>
        <p-button
          label="DIMETTI"
          class="w-full"
          styleClass="w-full"
          severity="danger"
          [disabled]="isDimesso()"
          (click)="api.dimettiPaziente(pz().id_paziente)"
        />
      </div>
    </ng-template>
  </p-card>
</div>
